<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

  <!-- HTML Meta Tags -->
  <title>OnlyDans International Consuling</title>
  <meta name="description" content="A consulting team consisting of over 20 years of IT experience that is able to provide a variety of services that do not include IT.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://odic.com.au/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="OnlyDans International Consuling">
  <meta property="og:description" content="A consulting team consisting of over 20 years of IT experience that is able to provide a variety of services that do not include IT.">
  <meta property="og:image" content="https://www.odic.com.au/images/oglogo.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="odic.com.au">
  <meta property="twitter:url" content="https://odic.com.au/">
  <meta name="twitter:title" content="OnlyDans International Consuling">
  <meta name="twitter:description" content="A consulting team consisting of over 20 years of IT experience that is able to provide a variety of services that do not include IT.">
  <meta name="twitter:image" content="https://www.odic.com.au/images/oglogo.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        

  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="container">
      {% include "header.njk" %}
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>

    {% set js %}
      {% include "js/core.js" %}
      {% include "js/hello.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



